/* ---------------------
    VARIABLES
----------------------*/
:root {
    --lighter-color: #fff;
    --darkest-color: #1c1c1c;
    --darkest-color-light: #303030;
    --primary-color: #0282f9;
    --primary-color-dark: #067ce6;
    --secondary-color: #959595;
}